:root {
  --white: #fff;
  --light-white: #eef2f4;
  --light-grey: #e0e0dc;
  --light-blue: #3c8dc5;
}

body {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

.error {
  background-color: #b22222;
  color: var(--white);
  padding: 10px;
  border-radius: 3px;
}

.success {
  background-color: green;
  color: var(--white);
  padding: 10px;
  border-radius: 3px;
}

/**************************CARD GENEREAL STYLE*************************/

.card {
  width: 40%;
  min-width: 300px;
  height: 100%;
  background: var(--white);
  border-radius: 8px;
  border: 1px solid var(--light-grey);
  margin: 30px;
}

.title-bar {
  background-color: var(--light-white);
  color: #5d6f78;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-grey);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
}

.collaps {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  transition: 0.5s ease-in-out;
}

.title-bar > .title {
  font-size: 27px;
}

.active,
.title-bar:hover {
  background-color: #ccc;
}

.active .collaps {
  transform: rotate(180deg);
}

.info-table {
  overflow: hidden;
  max-height: 0;
}

/**************************TABLE STYLE*************************/

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: var(--light-blue);
  color: var(--white);
}

tbody {
  display: block;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 15px;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

th {
  border-bottom: 1px solid var(--light-grey);
  border-right: 1px solid var(--light-grey);
  padding: 10px;
  cursor: pointer;
}

tr {
  border-bottom: 1px solid var(--light-grey);
}

td {
  border-right: 1px solid var(--light-grey);
  padding: 10px;
}

th:last-child,
td:last-child {
  border-right: none;
}

.sort-icon {
  display: inline-block;
  transform: rotate(180deg);
}

/**************************FORM INPUTS STYLE*************************/
form {
  display: flex;
  width: 100%;
}

form > div {
  border: 1px solid var(--light-grey);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}

form > div:last-child {
  border-right: none;
}

input[type='number'],
input[type='text'] {
  outline: none;
  border: 1px solid var(--light-blue);
  height: 40px;
  line-height: 30px;
  padding: 0 10px;
  font-size: 15px;
  border-radius: 8px;
  letter-spacing: 0.7px;
}

input[type='number'] {
  width: 40%;
  margin: 0px 10px;
}

.add-btn {
  background: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.1;
  border: 1px solid var(--light-blue);
  border-radius: 7px;
  color: var(--light-blue);
  padding: 9px 18px;
  transition: 1s background;
}

.add-btn:hover {
  background-color: var(--light-blue);
  color: var(--white);
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/**************************MEDIA QUERIES*************************/
@media (max-width: 1182px) {
  input[type='text'] {
    width: 60%;
  }
}
@media (max-width: 929px) {
  form {
    flex-direction: column;
  }
}
